extends layout

block content
    .piece(class= piece.pics ? 'withpic' : '')
      .piece-inner(data-userId= user.id) 
        .piece-main
          .card
            .content !{piece.content}
            if piece.author_name || piece.work_title
              if piece.author_name
                .by= piece.author_name
              if piece.work_title
                .by= piece.work_title
            if piece.pics
              .pics
                a(href='javascript:;').last
                  i.icon-chevron-left
                ul
                  for pic in piece.pics
                    li
                      a(href='javascript:;',target='_blank',title='查看全图')
                        img(src="http://huixiang.qiniudn.com/")
                a(href='javascript:;').next
                  i.icon-chevron-right
            .favs
              a.like-wrap
                i.icon-heart(data-id="#{piece.id}", class= (liked != "-1") ? 'liked' : '')
              .people
                ul(class= (liked != "-1") ? 'liked' : '')
                  if (piece._id in user.favs)
                    li
                      a(href="/users/#{user.id}")
                        img(src="#{user.avatar}")
                  for faver in favs
                    if (user._id!=faver)
                      li
                        a(href="/users/#{faver}")
                          img(src="#{faver}")
                  if fav_count
                    .fav-count 等
                      span.count #{fav_count}人喜欢

